body{
    padding: 0;
    margin: 0;
    background-color: rgb(255, 212, 121);   
}
/*  
notes = deck
score = spelled
points = score
*/

*{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.header{
    background-color: rgb(255, 212, 121);
    color: black;
    height: 20px;
    font-size: 25px;
    padding-top: 5px;
}
.head2{
    background-color:rgb(255, 126, 121);
}
.newgame{
    background-color: rgb(255, 133, 255);
    margin-left: 3%;
    color: black;
    height: 50px;
    width: 160px;
    border-color: black;
    border-width: 4px;
    font-size: 20px;
    border-radius: 5px;
    
}

.score{
    font-size: 15px;
    padding-left: 20px;
    
}
.notes{
    display: none;
}

.points{
    margin-left: 160px;
    font-size: 15px;
}

.highscore{
    margin-left: 100px;
    font-size: 15px;
}

.notes{
    margin-left: 200px;
}

.draw-cards{
    background-color: rgb(255, 126, 121);
    color: white;
    height: 330px;
    display: flex;
    flex-wrap: wrap;   
}

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
    display: inline-flex;
    width: 103px;
    height: 142px;
    margin: 20px;
    margin-top: 5px;
    
    
}

.letter1, .letter2, .letter3, .letter4, .letter5, .letter6, .letter7, .letter8, 
.sletter1, .sletter2, .sletter3,.sletter4, .sletter5,.sletter6, .sletter7, .sletter8 {
    color: blueviolet;
    font-size: 72px;
    position: relative;
    bottom: -20px;
    right: -25px;
}

.point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8,
.spoint1, .spoint2, .spoint3, .spoint4, .spoint5, .spoint6, .spoint7, .spoint8
{
    color: blueviolet;
    font-size: 20px;
    position: relative;
    right: 45px;
}


.slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot7, .slot8{
    background-color: rgb(255, 126, 121);
    display: inline-flex;
    width: 103px;
    height: 142px;
    margin: 20px;
    margin-top: 5px;
    padding: 0;
    border: none;
    
}

#slots{
    background-color: rgb(255, 126, 121);
}

#break{
    background-color: green;
}

.footer{
    background-color: rgb(255, 126, 121);
    height: 50px;
    display: flex;
    padding: 2px;
}

.submit{
    background-color: rgb(115, 253, 255);
    height: 50px;
    width: 150px;
    margin-left: 220px;
    font-size: 20px;
}

.reset{
    margin-left: 100px;
    background-color: rgb(115, 252, 214);
    height: 50px;
    width: 150px;
    color: black;
    font-size: 20px;
}

.rules{
    height:100px;
    background-color: rgb(255, 212, 121);
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding-top: 2px;
    color: black;
    font-size: 1rem;

}

.divider{
    border: 1px solid blue;
    border-radius: 5px;
}





@media (max-width: 900px) {
    @viewport {
      orientation: landscape;
    }

    .card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
        display: inline-flex;
        width: 60px;
        height: 94px;
        margin-left: 7px;
        margin-top: 5px;
        border-color: black;
        border-width: 4px;
        border-radius: 5px;
        
        
    }
    .letter1, .letter2, .letter3, .letter4, .letter5, .letter6, .letter7, .letter8, 
    .sletter1, .sletter2, .sletter3,.sletter4, .sletter5,.sletter6, .sletter7, .sletter8 {
    color: black;
    font-size: 42px;
    display: flex;
    justify-content: center;
    bottom: -20px;
    right: -3px;
    }
    .point1, .point2, .point3, .point4, .point5, .point6, .point7, .point8,
    .spoint1, .spoint2, .spoint3, .spoint4, .spoint5, .spoint6, .spoint7, .spoint8{
    color: black;
    font-size: 20px;
    display: flex;
    right: 24px;
    }
    .header{
        background-color: rgb(255, 212, 121);
        color: black;
        height: 22px;
        font-size: 8px;
    }
    .draw-cards{
        background-color: rgb(255, 126, 121);
        color: white;
        height: 110px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;   
    }
    
    .slot1, .slot2, .slot3, .slot4, .slot5, .slot6, .slot7, .slot8{
        background-color: rgb(255, 126, 121);
        display: inline-flex;
        width: 60px;
        height: 94px;
        margin-left: 7px;
        margin-top: 1px;
        border: none;
        
    }
    
    #slots{
        background-color: rgb(255, 126, 121);
        height: 110px;
        display:flex;
        justify-content: center;

    }
    
    #break{
        background-color: green;
    }
    
    .footer{
        background-color: rgb(255, 126, 121);
        height: 70px;
        display: flex;
        padding: 2px;
    }
    
    .submit{
        background-color: rgb(115, 253, 255);
        height: 50px;
        width: 150px;
        margin-left: 190px;
        border-color: black;
        border-width: 4px;
        border-radius: 5px;
        
        
    }
    
    .reset{
        margin-left: 50px;
        background-color: rgb(115, 252, 214);
        height: 50px;
        width: 150px;
        color: black;
        border-color: black;
        border-width: 4px;
        border-radius: 5px;
    }
    
    .rules{
        height:100px;
        background-color: rgb(255, 212, 121);
        font-size: 10px;
        display: flex;
        justify-content: center;
        padding-top: 2px;
        color: black;
        font-size: 1rem;
    
    }

  }

  @media screen and (orientation: portrait) {


    html {
        margin: 0; height: 100%; overflow: hidden
      /* Rotate the content container */
      transform: rotate(-90deg);
      transform-origin: left top;
      /* Set content width to viewport height */
      width: 100vh;
      /* Set content height to viewport width */
      height: 100vw;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
<<<<<<< HEAD
<<<<<<< HEAD

    body {
       /* display: none; */
    }

    #pause{
        display: block;
        height: 100vh;
        font-size: 60PX;
        
        background-color: green;
        
    }
    .instructions{
        font-size: 20px;
    }




=======
>>>>>>> parent of a6144c4 (added pause screen)
=======
>>>>>>> parent of a6144c4 (added pause screen)
  }
